
{% extends 'index.html' %}
 {% block title %} 
    Поиск по сайту
{% endblock title %}
{% block content %}

 <div>
    <form id="search_form" method="GET">
        {{ date }}
        {{ title }}
        {{ username }}
        <input id="search_btn" class="search_btn" type="submit" value="Найти">
    </form>
</div>

<div id="search_view"  class="search_view">
    {% if form.is_valid %}
        {% for post in filter.qs %}
            <p>{{ post.dataCreation|date:'M d Y' }}</p>
            <p>{{ post.title|title }}</p>
            <p>{{ post.author.authorUser.username }}</p>
        {% empty %}
            <p>Ничего не найдено</p>
        {% endfor %}   
    {% else %}
        <p>Ничего не найдено</p>    
    {% endif %}
</div>
{% endblock content %}

{% comment %} <div id="result"></div>

{% block javascript %}
<script>
    const searchBtn = document.getElementById("search_btn");
    const resultDiv = document.getElementById("result");
    
    searchBtn.addEventListener("click", ()=> {
        resultDiv.innerHTML = "11111111111111111";
        {% for post in filter.qs %}
            const resultContainer = document.createElement("div");

            const postDate = document.createElement("p");
            postDate.textContent = "{{ post.dataCreation|date:'M d Y' }}";
            resultDiv.appendChild(postDate);

            const postTitle = document.createElement("p");
            postTitle.textContent = "{{ post.title|title }}";
            resultDiv.appendChild(postTitle);

            const postAuthor = document.createElement("p");
            postAuthor.textContent = "{{ post.author.authorUser.username }}";
            resultDiv.appendChild(postAuthor);

            resultsDiv.appendChild(resultContainer);
        {% empty %}
            const noResult = document.createElement("p");
            noResult.textContent = "Ничего не найдено";
            resultDiv.appendChild(noResult);
        {% endfor %}
    });
</script>
{% endblock javascript%} {% endcomment %}




    
