.header_top {
    padding: 10px;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #1e1e1e;
    color: #ffffff;
}

.header_news {
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #e2e2e2;
    box-shadow: 2px 2px 5px #888;
}

.upper {
    text-transform: uppercase;
    font-weight: 700;
}

.text_news {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.data {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

.paginator {
    display: flex;
    background-color: #e2e2e2;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 2px 2px 5px #888;
    margin: 30px auto;
}

.arrow_links>a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}

.current_page {
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px;
}

.page_end {
    font-size: 20px;
    font-weight: 600;
    color: #808080;
    word-spacing: 10px;
}

.page_end_left {
    margin-right: 10px;
}

.num {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    letter-spacing: 10px;
}

.current_num {
    color: #808080;
}

.a_arrow {
    margin-left: 10px;
    margin-right: 10px;
}

/* #search_view {
    display: none;
} */